<style>
    .time-counter {
        font-size: 34px;
        color: #f4fbf0;
        font-family: inherit;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 3px 5px 5px 5px;
        font-style: italic;
    }

    .main-time-counter-area {
        text-align: center;
        background-color: #1565C0;
        border: 1px solid #ccc;
        width: 98.5%;
        float: left;
        margin: 0 auto;
        padding: 8px 0;
        border-radius: 4px 4px 0 0;
    }

    .title-area {
        float: left;
        text-indent: 20px;
        padding-top: 2px;
        color: #f4fbf0;
        font-size: 25px;
    }

    .main-content {
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 7px;
        float: left;
    }

    img {
        width: 35px;
        margin-top: 3px;
        border: 1px solid #ccc;
    }

    .match-title {
        text-align: center;
        font-size: 20px;
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #ada7a7;
        background-color: #2196F3;
        border-radius: 2px 2px 0 0;
    }

    .group-first-section {
        width: 48%;
        float: left;
        padding: 15px 0;
    }

    .group-second-section {
        width: 46%;
        float: left;
        padding: 15px 0;
    }

    .name-list {
        font-size: 15px;
        color: #061329;
        font-weight: bold;
        text-shadow: 3px 1px #e9dfdf;
        vertical-align: super;
    }

    .second-list {
        padding: 0 0 15px 0;
    }

    .first-column {
        padding-left: 16px;
    }

    .over-all-info li {
        color: #061329;
    }

    ul {
        list-style-type: none;
        padding-left: 15px;
    }

    li {
        font-family: Arial;
        font-size: 12px;
        line-height: 24px;
    }

    li:before {
        background-color: #14CCBB;
        border-radius: 50%;
        content: "";
        display: inline-block;
        margin-right: 5px;
        height: 10px;
        width: 10px;
    }

    .first-title-info {
        margin-top: 10px;
        width: 98.7%;
    }

    td {
        border: 1px solid #ccc;
        font-size: 12px;
        text-align: center;
        color: #0645ad;
        padding: 5px;
    }

    th {
        border: 1px solid #ccc;
        color: #222;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    table.team-statistics {
        background-color: #f8f9fa;
        color: #222;
        border-collapse: collapse;
        width: 100%;
    }

    table.team-statistics td:first-child, table.team-statistics th:first-child {
        border-left: none;
    }

    table.team-statistics td:last-child, table.team-statistics th:last-child {
        border-right: none;
    }

    .last-border {
        border-bottom: none;
    }

    table tr:nth-child(odd) td{
        background:#fff;
    }
    table tr:nth-child(even) td{
        background:#f5f5f5;
    }


</style>

<div class="main-content  first-title-info" style="width:100%;">
    <div class="match-title">
        Debutant teams
    </div>
    <table class="team-statistics">
        <tbody>
        <tr>
            <th>Year</th>
            <th>Teams</th>
        </tr>
        <tr>
            <td>2012</td>
            <td>Barisal Burners, Chittagong Kings, Dhaka Gladiators, Khulna Royal Bengals, Duronto
                Rajshahi, Sylhet Royals
            </td>
        </tr>
        <tr>
            <td>2012–13</td>
            <td>Rangpur Riders</td>
        </tr>
        <tr>
            <td>2015–16</td>
            <td>Barisal Bulls, Chittagong Vikings, Comilla Victorians Colors.png Comilla Victorians,
                Dhaka Dynamites, Sylhet Super Stars
            </td>
        </tr>
        <tr>
            <td>2016–17</td>
            <td>Khulna Titans, Rajshahi Kings</td>
        </tr>
        <tr>
            <td class="last-border">2017–18</td>
            <td class="last-border">Sylhet Sixers</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="main-content" style="width:100%;">
    <div class="match-title">
        History of the BPL
    </div>
    <div class="">
        <ul class="over-all-info">
            <li> Following the success of franchise Twenty20 cricket leagues such as the Indian
                Premier League around the world, the Bangladesh Cricket Board announced a plan to
                replace the National Cricket League with a franchise based league.
            </li>
            <li> On 18 January 2012 the board entered a 6-year, 350-crore deal with Game On Sports
                Group to establish a franchise tournament.
            </li>
            <li> The deal gave the group exclusive management rights to the tournament.
            </li>
            <li> The league was founded with six franchises from the largest cities of Bangladesh.
                During the franchise auction 13 companies took part in the bidding process, with six
                winning the rights of each clubs.
            </li>
            <li> The first season was held during February 2012, and the games were held across
                Dhaka and Chittagong. Today, the BPL is one of the most popular T20 leagues in the
                world. The BPL is headed by the chairman of its Governing Council who is currently
                Afzalur Rahman Sinha.
            </li>
            <li> The team with the most BPL titles are Dhaka Dynamites with three titles, including
                two consecutive titles during the first two seasons of the tournament as Dhaka
                Gladiators. Comilla Victorians and Rangpur Riders are the only other teams to be
                crowned champions. The current champions are Rangpur Riders, who defeated Dhaka
                Dynamites in BPL V.
            </li>
        </ul>
    </div>
</div>

<div class="main-content"  style="width:100%;margin-bottom:14px">
    <div class="match-title">
        Sponsorship
    </div>
    <div class="">
        <ul class="over-all-info">
            <li> For the first season of the tournament, Bangladeshi conglomerate Destiny Group was
                the main sponsor of the tournament, negotiating a one-year sponsorship package for
                7.5 crores taka (US$1.0 million)
            </li>
            <li> Prime Bank Limited was awarded with the sponsorship deal for the second season for
                10 crores taka (US$1.5 million).
            </li>
            <li> BRB Cables Limited held the sponsorship rights for third season in 2015 with 15
                crores taka (US$2.0 million)
            </li>
            <li> Abul Khair Steel (AKS), a sister concern group of Abul Khair Industries Limited
                became the title sponsor of the fourth and fifth edition.
            </li>
        </ul>
    </div>
</div>



