<style>
    .main-content {
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 7px;
        float: left;
    }

    img {
        width: 35px;
        margin-top: 3px;
        border: 1px solid #ccc;
    }

    .match-title {
        text-align: center;
        font-size: 20px;
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #ada7a7;
        background-color: #2196F3;
        border-radius: 2px 2px 0 0;
    }

    .over-all-info li {
        color: #061329;
    }

    ul {
        list-style-type: none;
        padding-left: 15px;
    }

    li {
        font-family: Arial;
        font-size: 12px;
        line-height: 24px;
    }

    li:before {
        background-color: #14CCBB;
        border-radius: 50%;
        content: "";
        display: inline-block;
        margin-right: 5px;
        height: 10px;
        width: 10px;
    }

    .first-title-info {
        margin-top: 10px;
        width: 98.7%;
    }

    .team-list-name-icc {
        color: #155dca;
        font-weight: bold;
        font-size: 13px;
        text-shadow: 2px 1px #fdeded;
    }

    td {
        border: 1px solid #ccc;
        font-size: 12px;
        text-align: center;
        color: #0645ad;
        padding: 5px;
    }

    th {
        border: 1px solid #ccc;
        color: #222;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    table.team-statistics {
        background-color: #f8f9fa;
        color: #222;
        border-collapse: collapse;
        width: 100%;
    }

    table.team-statistics td:first-child, table.team-statistics th:first-child {
        border-left: none;
    }

    table.team-statistics td:last-child, table.team-statistics th:last-child {
        border-right: none;
    }
    .last-border {
        border-bottom: none;
    }

    table tr:nth-child(odd) td{
        background:#fff;
    }
    table tr:nth-child(even) td{
        background:#f5f5f5;
    }



</style>

<div class="main-content first-title-info" style="width:100%;">
    <div class="match-title">
        Teams and their icons
    </div>
    <div class="">
        <ul class="over-all-info">
            <li> Chittagong Vikings — Mushfiqur Rahim
            <li> Comilla Victorians — Tamim Iqbal
            </li>
            <li> Dhaka Dynamites — Shakib Al Hasan
            </li>
            <li> Khulna Titans — Mahmudullah
            </li>
            <li> Rajshahi Kings — Mustafizur Rahman
            </li>
            <li> Rangpur Riders — Mashrafe Mortaza</li>
            <li> Sylhet Sixers — Liton Das</li>
            <li> By 30 September the team franchises announced the names of their retained palyers
                for this tournament and their icon players. The rest of the players will be bought
                from the Players' Draft, which is scheduled to be held on 28 October 2018. Liton Das
                and Mustafizur Rahman are new addition to this list while Soumya Sarkar and Sabbir
                Rahman have been exclude from this list.
            </li>
        </ul>
    </div>
</div>

<div class="main-content" style="width:100%;">
    <div class="match-title">
        Stadium Information
    </div>
    <table class="team-statistics">
        <tbody>
        <tr>
            <th>Venues</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Matches</th>
        </tr>
        <tr>
            <td>Chittagong</td>
            <td>Zohur Ahmed Chowdhury Stadium</td>
            <td>20,000</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Dhaka</td>
            <td>Sher-e-Bangla Cricket Stadium</td>
            <td>26,000</td>
            <td>28</td>
        </tr>
        <tr>
            <td class="last-border">Sylhet</td>
            <td class="last-border">Sylhet International Cricket Stadium</td>
            <td class="last-border">18,500</td>
            <td class="last-border">8</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="main-content first-title-info" style="width:100%;">
    <div class="match-title">
        Retained Players from pre. BPL
    </div>
    <div class="">
        <ul class="over-all-info">
            <li> Chittagong Vikings: Sanjamul Islam, Sikandar Raza, Najibullah Zadran, Luke Ronchi
            </li>
            <li> Comilla Victorians: Tamim Iqbal, Imrul Kayes, Mohammad Saifuddin and Shoaib Malik
            </li>
            <li>Dhaka Dynamites: Shakib al Hasan, Sunil Narine, Rovman Powell and Kieron Pollard
            </li>
            <li> Rajshahi Kings: Mominul Haque, Mehidy Hasan, Mustafizur Rahman and Zakir Hasan
            </li>
            <li> Rangpur Riders: Chris Gayle, Mohammad Mithun, Nazmul Islam and Mashrafe Mortaza
            </li>
            <li> Khulna Titans: Mahmudullah, Ariful Haque, Nazmul Hossain and Carlos Brathwaite
            </li>
            <li> Sylhet Sixers: Liton Das, Sabbir Rahman, Nasir Hossain and Sohail Tanvir
            </li>
        </ul>
    </div>
</div>

<div class="main-content first-title-info" style="width:100%;margin-bottom:14px">
    <div class="match-title">
        How can watch the BPL live?
    </div>
    <div class="">
        <ul class="over-all-info">
            <li> There are various options to be able to do that in various countries.
            </li>
            <li> In Bangladesh, it’s the Gazi TV which is the host broadcaster and the matches can
                be watched live on Maasranga as well
            </li>
            <li>The other countries include India, where it is live on DSport, Lemar TV in
                Afghanistan, Flow TV in the Caribbean, Geo Super in Pakistan, Star Times in South
                Africa and the rest of Africa, Free Sports in the UK, Willow.tv in USA and Canada
                and Cricingif online for Middle East and North Africa.
            </li>
        </ul>
    </div>
</div>

