<style>
    .main-content {
        font-size: 12px;
        background-color: #f2f2f166;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 10px;
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }

    .match-title {
        text-align: center;
        font-size: 13px;
        color: #f1f1f1;
        padding: 10px;
        border-bottom: 1px solid #ada7a7;
        background-color: #2196F3;
        border-radius: 2px 2px 0 0;
    }

    td {
        border: 1px solid #ccc;
        font-size: 12px;
        text-align: center;
        color: #0645ad;
        padding: 5px;
    }

    th {
        border: 1px solid #ccc;
        color: #222;
        font-size: 12px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }

    table.team-statistics {
        background-color: #f8f9fa;
        color: #222;
        border-collapse: collapse;
        width: 100%;
    }

    table.team-statistics td:first-child, table.team-statistics th:first-child {
        border-left: none;
    }

    table.team-statistics td:last-child, table.team-statistics th:last-child {
        border-right: none;
    }

    .last-border {
        border-bottom: none;
    }

    table tr:nth-child(odd) td {
        background: #fff;
    }

    table tr:nth-child(even) td {
        background: #f5f5f5;
    }

    ul {
        list-style-type: none;
        padding-left: 15px;
    }

    li {
        font-family: Arial;
        font-size: 12px;
        line-height: 24px;
    }

    li:before {
        background-color: #14CCBB;
        border-radius: 50%;
        content: "";
        display: inline-block;
        margin-right: 5px;
        height: 10px;
        width: 10px;
    }


</style>

<div class="main-content">
    <div class="match-title">
        Group stage information
    </div>
    <ul class="over-all-info">
        <li> Four overseas players will make it to the playing XI during the tournament.</li>
        <li> Two other players can be bought from outside the draft while the rest of the squad will
            need to be selected through the BPL Draft.
        </li>
        <li> According to an official statement: "There will be review [UDRS] in the BPL. Each team
            will have a review in every innings. There will be one foreign umpire in each match."
        </li>
    </ul>
</div>

<div class="main-content">
    <div class="match-title">
        Points table
    </div>
    <table class="team-statistics">
        <tbody>
        <tr>
            <th>Team</th>
            <th>Mat</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Tied</th>
            <th>NR</th>
            <th>Pts</th>
            <th>NRR</th>
        </tr>
        <tr>
            <td>Chittagong Vikings</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+0.000</td>
        </tr>
        <tr>
            <td>Comilla Victorians</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+0.000</td>
        </tr>
        <tr>
            <td>Dhaka Dynamites</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+0.000</td>
        </tr>
        <tr>
            <td>Khulna Titans</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+0.000</td>
        </tr>
        <tr>
            <td>Rajshahi Kings</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+0.000</td>
        </tr>
        <tr>
            <td>Rangpur Riders</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>+0.000</td>
        </tr>
        <tr>
            <td class="last-border">Sylhet Sixers</td>
            <td class="last-border">0</td>
            <td class="last-border">0</td>
            <td class="last-border">0</td>
            <td class="last-border">0</td>
            <td class="last-border">0</td>
            <td class="last-border">0</td>
            <td class="last-border">+0.000</td>
        </tr>
        </tbody>
    </table>
</div>

